# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b37fc0ca6dff4c79aba41cf18193cfc4f44ff6dce6a4466beb7a8309d61dfb13e0414d44f3b5335d898cc4c9f55059d81a02b2973626eef79343d57641a5a6cc

test:
  secret_key_base: 569355816cb8220430cc4c259116c13f0f00fe368ea46b718192399bc325935f7c2ec0eb269e415d44d86a70b2fcea783b7623aa004f2244af427b318d41914e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
